<!-- Change Password Pop up Start -->
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Change Password</h4>
        <button type="button" class="btn-close" (click)="CloseModel()" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
              <div class="container">
                  <form [formGroup]="userChangePasswordForm"  (ngSubmit)="changePassword()">
                      <input type="hidden" formControlName="id" [ngModel]="userId" className="form-control" /> 
                      <div class="row g-5">
                          <div class="col-md-12">
                              <div class="form-item">
                                  <label class="form-label my-3">Current Password<sup>*</sup></label>
                                  <input type="password" formControlName="currentpassword" class="form-control">
                                  <div *ngIf="userChangePasswordForm.get('currentpassword')?.hasError('required') && userChangePasswordForm.get('currentpassword')?.touched"
                                    class="text-danger">
                                    Current Password is required.
                                </div>
                              </div>
                              <div class="form-item">
                                  <label class="form-label my-3">New Password<sup>*</sup></label>
                                  <input type="password" formControlName="newpassword" class="form-control">
                                  <div class="text-danger" *ngIf="userChangePasswordForm.get('newpassword')?.hasError('changedPasswordValidator')">
                                    New Password must be different from Current Password
                                  </div>
                                  <div *ngIf="userChangePasswordForm.get('newpassword')?.hasError('required') && userChangePasswordForm.get('newpassword')?.touched"
                                    class="text-danger">
                                    New Password is required.
                                </div>
                              </div>
                              <div class="form-item">
                                  <label class="form-label my-3">New Password<sup>*</sup></label>
                                  <input type="password" formControlName="confirmpassword" class="form-control">
                                  <div class="text-danger" *ngIf="userChangePasswordForm.get('confirmpassword')?.hasError('confirmedValidator')">
                                    Confirm Password doesn't match with Password
                                  </div>
                                  <div *ngIf="userChangePasswordForm.get('confirmpassword')?.hasError('required') && userChangePasswordForm.get('confirmpassword')?.touched"
                                    class="text-danger">
                                    Confirm Password is required.
                                </div>
                                </div>
                                      
                              <div class="mt-4">                        
                                  <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="submit" [disabled]="userChangePasswordForm.invalid">Save</button>
                                  &nbsp;&nbsp;&nbsp;
                                  <button class="btn border-secondary rounded-pill px-4 py-3 text-danger" data-bs-dismiss="modal" type="button" (click)="CloseModel()">Cancel</button>
                              </div>       
                          </div>                        
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
  </div>
<!-- Change Password Pop up End -->