<!-- About Start -->
<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <p></p>
                        <h1 class="text-primary">Welcome to Vegefoods an eCommerce website</h1>
                        <p class="mb-4">
                            This is a demo web application that using Angular in FrontEnd and ASP.Net Core Web API in BackEnd
                        </p>
                        <p>Along with some technologies like: Entity Framework + CQRS pattern + Microsoft SQL Server</p>
                        <p>Author: Vo Minh Man</p>
                        <p>Contact: <a className="text" href="mailto:vominhman@gmail.com">vominhman&#64;gmail.com</a></p>
                        <p><a [routerLink]="['/shop']" class="nav-item nav-link">Shop Now</a></p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
<!-- About End -->