
<!-- Profile Page Start -->
<div class="container-fluid page-padding-top">
    <h1 class="ms-5 ps-5 text-secondary">Profile</h1>      
    <div class="container">
        <div class="col-3">
            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#popupChangePassword">Change Password</button>           
          </div>
        <form [formGroup]="userForm"  (ngSubmit)="updateUser()">
            <input type="hidden" formControlName="id" className="form-control" />
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="form-item">
                        <label class="form-label my-3">Email Address<sup>*</sup></label>
                        <input type="email" formControlName="email"  class="form-control">
                    </div>             
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">First Name<sup>*</sup></label>
                                <input type="text" formControlName="firstName"  class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Last Name<sup>*</sup></label>
                                <input type="text" formControlName="lastName"  class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Date Of Birth<sup>*</sup></label>
                                <input type="text" formControlName="dateOfBirth" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Country<sup>*</sup></label>
                                <input type="text" formControlName="country" class="form-control">
                            </div>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label class="form-label my-3">Phone<sup>*</sup></label>
                                <input type="text" formControlName="phone" class="form-control">
                            </div>
                        </div>
                        
                    </div>                          

                    <div class="form-item">
                        <label class="form-label my-3">Address<sup>*</sup></label>
                        <textarea name="text" class="form-control" formControlName="address" spellcheck="false" cols="30" rows="4" placeholder="Enter Address"></textarea>
                    </div>         
                    <div class="mt-4">                        
                        <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="submit">Save</button>
                        &nbsp;&nbsp;&nbsp;
                        <button (click)="cancelUpdate()" class="btn border-secondary rounded-pill px-4 py-3 text-danger" type="button">Cancel</button>
                    </div>       
                </div>                        
            </div>
        </form>
    </div>
</div>
<!-- Profile Page End -->

<div class="modal" id="popupChangePassword">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Change Password</h4>
          <button type="button" class="btn-close" (click)="CloseModel()" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="container">
                    <form [formGroup]="userPasswordForm"  (ngSubmit)="changePassword()">
                        <input type="hidden" value="{{userId}}" className="form-control" />
                        <div class="row g-5">
                            <div class="col-md-12 col-lg-6 col-xl-7">
                                <div class="form-item">
                                    <label class="form-label my-3">Current Password<sup>*</sup></label>
                                    <input type="password" formControlName="currentpassword" class="form-control">
                                </div>
                                <div class="form-item">
                                    <label class="form-label my-3">New Password<sup>*</sup></label>
                                    <input type="password" formControlName="newpassword" class="form-control">
                                </div>
                                <div class="form-item">
                                    <label class="form-label my-3">New Password<sup>*</sup></label>
                                    <input type="password" formControlName="confirmpassword" class="form-control">
                                </div>
                                        
                                <div class="mt-4">                        
                                    <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="submit">Save</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <button class="btn border-secondary rounded-pill px-4 py-3 text-danger" data-bs-dismiss="modal" type="button">Cancel</button>
                                </div>       
                            </div>                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
       <!--  <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>