<!-- Login Page Start -->
<div class="container-fluid page-padding-top">
    <h1 class="ms-5 ps-5 text-secondary">Login</h1>    
    <div class="container">
        <div *ngIf="isLoading; else elseForm"> // need to search empty tag html
            <app-loading></app-loading>
        </div>
        <ng-template #elseForm>         
            <form [formGroup]="loginForm" (ngSubmit)="Login()">
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-7">
                        <div class="form-item">
                            <label class="form-label my-3">Email Address<sup>*</sup></label>
                            <input type="email" formControlName="email" class="form-control" >
                            <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched"
                                class="text-danger">
                                Email is required.
                            </div>
                        </div>
                        <div class="form-item">
                            <label class="form-label my-3">Password<sup>*</sup></label>
                            <input type="password" formControlName="password" class="form-control">
                            <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched"
                                class="text-danger">
                                Password is required.
                            </div>
                        </div>             
                        <div class="mt-4">                        
                            <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="submit">Login</button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn border-secondary rounded-pill px-4 py-3 text-danger" type="button">Close</button>
                        </div>       
                    </div>                        
                </div> 	
            </form>
        </ng-template>  
    </div>
</div>
<!-- Login Page End -->